<div class="text-center">
  <div class="d-flex justify-content-center pr-5">
    <%= link_to "", foods_path, class: "arrow-button fas fa-chevron-left" %>
    <h1>List of recipes with <%= @food.name %></h1>
  </div>
  <div class="row mt-4 justify-content-center">

    <% @recipes.each do |recipe| %>

      <div class="card card-recipe" data-toggle="modal" data-target="#modal_window-<%= recipe.id %>">
        <% if recipe.photo.attached? %>
        <%= cl_image_tag recipe.photo.key %>
        <% else %>
        <%= image_tag "recipe.png" %>
        <% end %>
        <div class="card-body text-center">
          <h4 class="card-title p-3 m-0 border-top border-bottom"><%= recipe.title %></h4>
        </div>
      </div>

    <% end %>
  </div>
</div>


<% @recipes.each do |recipe| %>
  <div class="modal fade" id="modal_window-<%= recipe.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header p-0 m-auto">
        <% if recipe.photo.attached? %>
          <%= cl_image_tag recipe.photo.key %>
        <% else %>
          <%= image_tag "recipe.png" %>
        <% end %>
        </div>
        <div>
          <div class="row mx-2 p-3 border-bottom">
            <h3 class="modal-title" id="exampleModalLongTitle"><%= recipe.title %></h3>
          </div>
          <div class="row m-2 border-bottom py-4  ">
            <div class="border-bottom pb-4">
              <table>
                <% recipe.ingredients.each do |ingredient| %>
                  <tr>
                    <th class="px-4"><%= ingredient.quantity %></th>
                    <td><%= ingredient.description %></th>
                  </tr>
                <% end %>
              </table>
            </div>
            <div class="py-4">
              <table>
                <% recipe.steps.each do |step| %>
                  <tr class="py-2">
                    <th><%= step.number %></th>
                  </tr>
                  <tr>
                    <td><%= step.description %></th>
                  </tr>
                <% end %>
              </table>
          </div>
          <div class="p-3">
            <%= recipe.description %>
          </div>
          <div class="modal-footer p-3 justify-content-between">
            <button type="button" class="btn btn-green" data-dismiss="modal">Close</button>
            <%= link_to 'Save Recipe', recipe_favorite_recipes_path(recipe), method: :post, class: "btn btn-outline-green" %>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
