<div class="recipe-container">
  <div class="d-flex justify-content-center pr-5">
    <%= link_to "", favorite_recipes_path, class: "arrow-button fas fa-chevron-left" %>
    <h1><%= @recipe.title %></h1>
  </div>
  <div class="text-center">
    <% @recipe.rating.to_i.times do %>
      <i class="fas fa-star mb-4"></i>
    <% end %>
  </div>
  <%#= image @recipe.photo.key, crop: :fill %>
  <%= image_tag @recipe.photo %>
  <h3>Ingredients:</h3>
  <br>
  <table>
    <% @recipe.ingredients.each do |ingredient| %>
      <tr>
        <th><%= ingredient.quantity %></th>
        <td><%= ingredient.description %></th>
      </tr>
    <% end %>
  </table>
  <h3>Preparation:</h3>
  <br>
  <% @recipe.steps.each do |step| %>
    <h5><%= step.number %></h5>
    <p><%= step.description %></p>
  <% end %>
  <h3>Description:</h3>
  <br>
  <p><%= @recipe.description %></p>
</div>
