<div class="banner" style="background-image: url(<%= image_path "acre.png" %>)">
  <div class="container text-center">
    <h1>Welcome to SmartFoods</h1>
    <p>Find the right foods, personalized just for you, so you can achieve your health goals.</p>
    <%= link_to "Get Started", new_user_goal_path, type: "button", class: "btn btn-outline-light m-3" %>
  </div>
</div>

<div class="container text-center py-5 px-0">
  <h1>How it works</h1>
  <ul class="d-flex p-0 py-5 m-0 row">
    <li class="card col-6 col-lg-3 small-card px-0">
      <%= image_tag "mangoals.svg" %>
      <h3>Set your goals</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </li>
    <li class="card col-6 col-lg-3 small-card">
      <%= image_tag "food.svg" %>
      <h3>Discover your foods</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </li>
    <li class="card col-6 col-lg-3 small-card">
      <%= image_tag "cooking.svg" %>
      <h3>Search recipes</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </li>
    <li class="card col-6 col-lg-3 small-card px-0">
      <%= image_tag "goals.svg" %>
      <h3>Track your progress</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </li>
  </ul>
</div>

<div class="big-card d-flex justify-content-center py-5">
  <div class="row">
    <%= image_tag "guy.png" %>
    <div class="col-lg px-5">
      <h2>Our Mission</h2>
      <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum dui faucibus. Volutpat est velit egestas dui id ornare arcu odio ut. Pharetra et ultrices neque ornare aenean euismod. Nisi lacus sed viverra tellus. Maecenas ultricies mi eget mauris. Semper eget duis at tellus. Ut ornare lectus sit amet est placerat in egestas. Malesuada nunc vel risus commodo viverra maecenas.</em></p>
    </div>
  </div>
</div>
