<div class="container">
  <h1>List of foods to help you with...</h1>
  <% @selected_goals.each do |goal| %>
    <div>
      <h1 class="text-center"><%= goal.title %></h1>
      <% goal.foods.each do |food| %>
        <div class="d-flex">
          <div class="row food-container">
            <%= image_tag "broccoli.svg" %>
            <div class="p-3 w-50">
              <h3><strong><%= food.name %></strong></h3>
              <p><%= food.description %></p>
            </div>
            <div class="p-3 ml-auto text-right">
              <% if food.shopping_lists.where(user: current_user.id)!=[] %>
              <p><%= link_to "Add to Shopping List", food_shopping_lists_path(food), method: :post, class: "btn btn-success" %><p>
              <% else %>
              <p><%= link_to "Add to Shopping List", food_shopping_lists_path(food), method: :post, class: "btn btn-outline-green" %><p>
              <% end %>
              <p><%= link_to 'Show Recipes', food_recipes_path(food), class: "btn btn-outline-green" %></p>
            </div>
          </div>
        </div>
        <% end %>
    </div>
  <% end %>
</div>
