<div class="container text-center">
  <h1>Shopping List</h1>

  <div class="list" >
    <ul class="list-group">
      <% @shopping_lists.each do |shopping_list| %>
        <li class="list-group-item d-flex justify-content-between">
        <div class="pretty p-default p-round">
          <input type="checkbox">
          <div class="state p-success-o">
            <label><%= shopping_list.food.name %></label>
          </div>
        </div>
        <%= link_to food_shopping_list_path(shopping_list.food, shopping_list), method: :delete do %>
          <i class="far fa-trash-alt" style="color: green"></i>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div>
    <%= link_to "Back to Foods", foods_path, class:"btn-green"%>
  </div>
  <div id="map" class="m-auto py-4"
    style="width: 75%; height: 500px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>
